@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}


body {
    text-align: center;
}

.container {
    background-color: rgb(18, 43, 68);
    width: 30%;
    margin: auto;
    margin-top: 10px;
    padding: 30px;
}

#main-heading {
    color: white;
    padding: 2px;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    width: 80%;
    margin: auto;
    gap: 5px;
}

li {
    border: 1px solid blue;

}